<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campomagnetico"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.campomagnetico.MainActivity"
            android:label="@string/titulo_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.campomagnetico.ActivityGuion"
            android:label="@string/titulo_activity_guion" >
            <intent-filter>
                <action android:name="guion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.campomagnetico.ActivityListaComponentes"
            android:label="@string/titulo_activity_componentes" >
            <intent-filter>
                <action android:name="componentes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.campomagnetico.ActivityMontaje"
            android:label="@string/titulo_activity_montaje" >
            <intent-filter>
                <action android:name="montaje" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.campomagnetico.ActivitySimulacion"
            android:label="@string/titulo_activity_simulacion" >
            <intent-filter>
                <action android:name="simulacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.campomagnetico.AcercaDeActivity"
            android:label="@string/title_activity_acerca_de" >
            <intent-filter>
                <action android:name="acerca_de" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
